/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}
a {
    text-decoration: none;
    color: #f2b06a;
}
a:hover {
    text-decoration: underline;
}

/* Navbar styles */
nav {
    background-color: #333;
    color: white;
    padding: 0.5rem 1rem;
    /* position: fixed; */
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin: 0;
}
nav ul li {
    display: inline;
}
nav ul li a {
    color: white;
    font-weight: bold;
}

/* Header styles */
header {
    background-color: #e3d3cd;
    color: white;
    padding: 2rem 0;
    text-align: center;
    margin-top: 50px; /* To avoid overlap with navbar */
}

/* Section styles */
section {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
section h2 {
    margin-bottom: 1rem;
    color: #ecd3cd;
}
section p, ul {
    margin-bottom: 1rem;
}

/* Footer styles */
footer {
    text-align: center;
    margin-top: 2rem;
    padding: 1rem;
    font-size: 0.8rem;
    color: #777;
}
